/*!
	Nicolas M. Pardo
	30 Days of Javascript
	Day 00: ######
*/


@import 'nib'
global-reset()

*
*::after
*::before 
	box-sizing border-box
	transform translateZ(0)
	transform 0.5 all ease
html
body
	height 100%
	width 100%